.break-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 0;
  font-size: 1.2rem;
}

span {
  display: flex;
  column-gap: 5px;
}
